body {
    overflow: hidden;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.tip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Epilogue", serif;
    padding-top: 20px;
}

.tip img {
    width: 150px;
}

.tipleft {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

p {
    font-size: 18px;
}

.login {
    font-size: 18px;
    background-color: white;
    border: 0;
    padding: 10px;
}

.register {
    font-size: 18px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.main h1 {
    font-size: 110px;
    margin: 0;
}

.main p {
    font-size: 20px;
    line-height: 35px;
}

.main {
    font-family: "Epilogue", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bigimage {
    height: 700px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.learn {
    font-family: "Epilogue", serif;
    padding: 20px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.learn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.companies {
    display: flex;
    gap: 100px;
    padding-top: 150px;
}

.comp {
    height: 30px;
}

.features {
    position: absolute;
    box-shadow: 5px 5px 20px gray;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    display: none;
    left: 300px;
    top: 100px;
}

.feature img {
    height: 20px;
}

.feature p {
    margin: 0;
    padding: 2px;
}


.bltf {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bltf img {
    height: 10px;
    width: 15px;
}

.bltc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bltc img {
    height: 10px;
    width: 15px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
}

.altfeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    display: none;
}

.altfeature {
    display: flex;
    align-items: center;
}

.cmpn {
    position: absolute;
    box-shadow: 5px 5px 20px gray;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    display: none;
    left: 520px;
    top: 100px;
}

.cmpnalt {
    display: none;
    padding-bottom: 20px;
}

.acctive {
    display: block;
}

.active {
    display: block;
}

.up2 {
    display: none;
}

.activedown2 {
    display: none;
}

.activeup2 {
    display: block;
}

.up1 {
    display: none;
}

.activedown {
    display: none;
}

.activeup {
    display: block;
}

.maintitle {
    width: 70%;
}

.mobile-tip {
    display: none;
}

.alt-image {
    display: none;
}

.left p {
    width: 50%;
}

.popups {
    display: none;
    position: absolute;
    right: -376px;
    width: 300px;
    height: 100%;
    background-color: white;
    padding: 30px;
}

.cmpnfeatures {
    margin-left: 3 0px;
}

.altoption {
    display: flex;
    align-items: center;
    gap: 20px;
}

.altbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.altbtn {
    background-color: white;
    height: 50px;
    border-radius: 15px;
    width: 100%;
    font-size: 20px;
}

.loginbtn {
    border: 0;
}

.closediv {
    display: flex;
    justify-content: end;
    width: 100%;
}

@media(max-width: 1510px) {
    .main h1 {
        font-size: 90px;
    }

    .bigimage {
        height: 500px;
    }

    .main {
        gap: 100px;
    }

}

@media(max-width: 1380px) {
    .main h1 {
        font-size: 50px;
    }

    .bigimage {
        height: 400px;
    }

    .main {
        gap: 50px;
    }
}

@media(max-width: 775px) {

    body {
        overflow-x: hidden;
    }

    .tip {
        display: none;
    }

    .mobile-tip {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: start;
        align-items: center;
        padding-top: 30px;
    }

    .main h1 {
        font-size: 37px;
        width: 100%;
    }

    .bigimage {
        display: none;
    }

    .alt-image {
        display: block;
        width: 375px;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lefttxt p {
        font-size: 15px;
        width: 310px;
        line-height: 25px;
    }

    .companies {
        gap: 10px;
        padding-top: 50px;
    }

    .comp {
        height: 20px;
    }

    .menubutton {
        border: 0;
        background-color: transparent;
    }
}